@page "/login"
@using BlazorApp_JobPortal.Models
@using JobPortal.BlazorApp.Services
@inject AuthService AuthService
@inject NavigationManager Navigation

<h3>Вхід</h3>

@if (ShowAuthError)
{
    <div class="alert alert-danger">Неправильний email або пароль</div>
}

<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Email</label>
        <InputText @bind-Value="loginModel.Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Пароль</label>
        <InputText @bind-Value="loginModel.Password" type="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Увійти</button>
</EditForm>

@code {
    private LoginDto loginModel = new LoginDto();
    private bool ShowAuthError = false;

    private async Task HandleLogin()
    {
        ShowAuthError = false;
        var result = await AuthService.Login(loginModel);

        if (result)
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            ShowAuthError = true;
        }
    }
}