@page "/login"
@inject AuthService AuthService
@inject NavigationManager Nav
@using BlazorApp_JobPortal.Models
@using JobPortal.BlazorApp.Models
@using JobPortal.BlazorApp.Services
@using Microsoft.AspNetCore.Components.Forms

<h3>Вхід</h3>
@if(Error) { <div class="alert alert-danger">Помилка входу</div> }

<EditForm Model="model" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Email</label>
        <InputText @bind-Value="model.Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Пароль</label>
        <InputText @bind-Value="model.Password" type="password" class="form-control" />
    </div>
    <button class="btn btn-primary">Увійти</button>
</EditForm>

@code {
    LoginDto model = new();
    bool Error;

    async Task HandleLogin()
    {
        var result = await AuthService.Login(model);
        if (result) Nav.NavigateTo("/jobs");
        else Error = true;
    }
}